.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.centered{
  text-align: center;
  font-size: 3rem; 
  color: black; 
  padding: 10px 20px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
label{
  text-align: left;
  font-size: 1.5rem; 
  color: black; 
  padding: 10px 20px; 
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 

}
input{
  text-align: right;
  font-size: 1.5rem; 
  color: black; 
  padding: 10px 20px; 
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.card {
  display: flex;
  border: 1px solid #ccc;
  width: 80%;
  max-width: 800px;
}

.left-column,
.right-column {
  flex: 1;
  padding: 20px;
  background: linear-gradient(white,grey) ;
}

.left-column {
  border-right: 1px solid #ccc;
  background: linear-gradient(white,grey);
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }

.right-column h2 {
  margin-bottom: 20px; 
}

.form-container {
  width: 100%; 
  text-align: center;
}

.input-container {
  width: 100%; 
  margin-bottom: 20px;
  text-align: left;
}

.error {
  color: red;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 40%; 
  border-radius: 5px;
}

button,
.register-link {
  padding: 10px 20px;
  background: linear-gradient(white,grey) ;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #333;
  width: 30%;
  border-radius: 5px;
  display: flex;
  justify-content: right;
  align-items: center;
}

button:hover,
.register-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}