.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 600px; 
    height: 600px;
    margin: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc; 
    background-color: transparent;
    transition: all 0.3s ease;
    position: relative;  
    top: 25%; 
  left: 25%;
  }
  
  
  .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contenido h2 {
    color: black;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    margin-left: 200px;
  }
  
  button:hover {
    background-color: #ccc;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
  input:focus {
    border-bottom-color: black;
  }
  .error{
    font-size: 0.5rem;
color: red;

  }
  .contenido label input {
    width: 100%; 
    padding: 8px;
    margin-top: 4px;
  }