.tarjeta {
    width: 800;
    height: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .contenido {
    text-align: center;
  }
  
  .contenido h2 {
    margin-bottom: 20px;
  }
  
  .contenido form {
    display: grid;
    grid-gap: 10px;
  }
  
  .contenido label {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
  }
  
  .contenido input {
    width: calc(100% - 100px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contenido button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contenido button:hover {
    background-color: #0056b3;
  }.tarjeta {
  width: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.contenido {
  text-align: center;
}

.contenido h2 {
  margin-bottom: 20px;
}

.contenido form {
  display: grid;
  grid-gap: 10px;
}

.contenido label {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
}

.contenido input {
  width: calc(100% - 100px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
}

.contenido button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contenido button:hover {
  background-color: #0056b3;
}